.menu{
    background-color: #f7a336;
}

.topheader{
    height: 40px;
    background-color: #e69832;
}

.footer{
    height: 40px;
    background-color: #86581a;
}


.img-style{
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}