<div class="container">
    <div class="scroll">
      <div class="d-flex">
        <p class="h1 misobold mt-2">
          COTAÇÕES
        </p>
        <div class="form-floating ms-auto">
          <input type="search" class="form-control" id="search"
          placeholder="search" (change)="listen($event)">
          <label for="search" class="form-label"> Pesquisar por nome*</label>
          </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="mouseover" data-bs-toggle="modal" data-bs-target="#editBudget">NOVA COTAÇÃO <i class="fa-solid fa-plus text-success"></i></th>
            <th scope="col" class="mouseover" (click)="gerarPDF()">EXPORTAR PDF <i class="fa-solid fa-file-pdf text-danger"></i></th>
          </tr>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of budgets">
            <th scope="row">{{item.name}}</th>
            <td>{{item.statusBudget}}</td>
            <td>{{item.origin}}</td>
            <td>{{item.destiny}}</td>
            <td>
              <i class="fa-solid fa-pen-to-square text-warning fs-24 mouseover me-3" (click)="goToDetail(item.email)"></i>
              <i class="fa-solid fa-trash-can text-danger fs-24 mouseover" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="showDeleteModal(item.email)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar cotação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir a cotação?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dialogmodal" (click)="delete(budget.email)">DELETAR</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dialogmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="dialogmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogmodal">{{dialogTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="refresh()"></button>
      </div>
      <div class="modal-body">
        {{dialogMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="refresh()">Voltar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBudget" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editBudget" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBudget">Nova cotação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="refresh()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12">
              <div class="form-floating">
              <input type="email" class="form-control" id="email"
              placeholder="email" formControlName="email" required>
              <label for="name" class="form-label">E-mail*</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
              <input type="text" class="form-control" id="name"
              placeholder="Nome Completo" formControlName="name" required>
              <label for="name" class="form-label">Nome Completo*</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
              <input type="text" class="form-control" id="phoneNumber"
              placeholder="11988888888" formControlName="phoneNumber" pattern="^[0-9]+$" required>
              <label for="phoneNumber" class="form-label">Telefone de contato*</label>
            </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-4">
              <div class="form-floating">
                <select class="form-select form-control" formControlName="origin" required>
                  <option *ngFor='let origin of optionsOrigin' value="{{origin.value}}">{{origin.label}}</option>
                </select>
                <label for="origin" class="form-label">Origem*</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <select class="form-select form-control" formControlName="destiny" required>
                  <option *ngFor='let destiny of optionsDestiny' value="{{destiny.value}}">{{destiny.label}}</option>
                </select>
                <label for="destiny" class="form-label">Destino*</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <select class="form-select form-control" formControlName="deadline" required>
                  <option *ngFor='let deadline of optionsDeadline' value="{{deadline.value}}">{{deadline.label}}</option>
                </select>
                <label for="deadline" class="form-label">Prazo*</label>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-2">
              <div class="form-floating">
              <input type="number" step=".01" class="form-control" id="height" 
              placeholder="1" formControlName="height" min=0   aria-describedby="height" required>
              <label for="height" class="form-label">Altura*</label>
              <div id="height" class="form-text misolight">
                Em metros</div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="number" step=".01" class="form-control" id="width" 
                placeholder="1" formControlName="width" min=0  required>
              <label for="width" class="form-label">Largura*</label>
              </div>
              <div id="width" class="form-text misolight">
                Em metros</div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
              <input type="number" step=".01" class="form-control" id="depth" 
              placeholder="1" formControlName="depth" min=0 required>
              <label for="depth" class="form-label">Profundidade*</label>
              </div>
              <div id="depth" class="form-text misolight">
                Em metros</div>
            </div>
            <div class="col-md-6">
              <div class="input-group form-floating">
                <input type="number" step=".01" min=0  class="form-control" 
                id="cubage" formControlName="cubage" readonly>
                <label for="depth" class="form-label">Peso Cubado*</label>
                <button type="submit" class="btn btn-outline-secondary" (click)="getCubage()">Calcular</button>
              </div>
              <div id="cubage" class="form-text misolight">
                KG (A x L x P x 300 = Peso Cubado)</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary" (click)="refresh()" >Cancelar</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="sendBudget()" 
        data-bs-toggle="modal" data-bs-target="#dialogmodal" [disabled]="!form.valid">Salvar</button>
      </div>
    </div>
  </div>
  </div>