.border-budget{
    width: 450px;
}

.btn-outline-secondary{
    font-family: misoLight;
    font-size: 16px !important;
    width: 180px !important;
    height: 48px !important;
    color: #f7a336 !important;
}

.btn-outline-secondary:hover{
    color: white !important;
}