<div class="container d-flex justify-content-center">
    <div class="border-budget mt-5 mb-3">
      <div class="row text-center mb-2">
        <div class="col-md-12">
          <p class="texto-primary h1 misobold">
            BackOffice - NE
          </p>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="form-floating">
              <input type="email" class="form-control" id="email"
              placeholder="exemplo@exemplo.com" formControlName="email">
            <label for="email" class="form-label">E-mail*</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
            <input type="password" class="form-control" id="password"
            placeholder="Senha" formControlName="password">
            <label for="password" class="form-label">Senha*</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4 pt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="login(form.value)">E N T R A R</button>
        </div>
        <hr class="texto-primary mt-4 mb-4">
        <div class="row justify-content-center">
          <p class="texto-primary small misobold text-center">
            Não possui cadastro?
          </p>
          <button type="submit" class="btn btn-outline-secondary" (click)="goToRegister()">C A D A S T R E - S E</button>
        </div>
      </form>
  </div>
</div>
